#main {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: linear-gradient(110deg,rgb(145, 0, 189),rgb(41, 7, 68));
    color: white;
}

#survey-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% 25% 1% 25%;
    height: auto;
    padding: 2% 5% 2% 5%;
    background-image: linear-gradient(110deg,rgba(26, 5, 43, 0.7), rgba(70, 1, 1, 0.7));
    border-radius: 5px;
}

@media (max-width: 1000px) {
    #survey-form {
        margin: 1% 20% 1% 20%;
    }
}

@media (max-width: 800px) {
    #survey-form {
        margin: 1% 15% 1% 15%;
    }
}

@media (max-width: 500px) {
    #survey-form {
        margin: 1% 10% 1% 10%;
    }
}

div {
    width: 100%;
    margin: 0% 0% 6% 0%;
    text-align: left;
}

input, textarea {
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    background-color: white;
    color: rgba(0, 0, 0, 1);
}

select {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    background-color: white;
    color: rgba(0, 0, 0, 1);
}

::placeholder {
    color: rgba(30, 30, 30, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

#submit {
    font-size: 1.1em;
    padding: 0.2em;
    border: 0px;
    background-color: rgba(10, 200, 30, 0.8);
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

fieldset {
    border-radius: 5px;
}

.text-input, textarea {
    width: 98%;
}

.label {
    margin: 1% 0% 0% 0%;
}

[type="radio"], [type="checkbox"] {
    margin: 7px;
}

#disclaimer {
    margin: 3% 15% 3% 15%;
}